* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color      : whitesmoke;
}

body {
    margin          : 0;
    background-color: #225c9ece;
}

/*aqui se inicia a centrar el contenedor completo al centro */
.container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100vh;

}

/*aqui se modifican los fondo de la calculadora abarca tambien la pantalla */
.calculadora {
    display              : grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows   : 160px repeat(5, 75px);
    background           : rgba(228, 8, 8, 0.644);
    padding              : 15px;
    border-radius        : 32px;
    box-shadow           : 15px 20px 0px 5px #00000033;

}

/*aqui cominezan los botones*/
button {
    cursor       : pointer;
    margin       : 5px;
    border-radius: 32px;
    font-size    : 2em;
    background   : rgba(194, 13, 13, 0.24);
    box-shadow   : 10px 20px 10px -3px #00000040;
}
/*tono oscuro al precionar el boton */
button:active {
    background-color: rgb(34, 51, 45);
}

/*ampliacion de botones mas grandes como el 0 y el C*/
.col-2{
    grid-column: span 2;
}
/*aqui esta la pantalla en la cual se escribirnan los numeros */
.display 
{
    grid-column: 1 / -1;
    padding    : 15px;
    display: flex;
    margin: 10px 10px 20px 10px;
    flex-direction: column;
    background-color: rgb(18, 19, 19);
    align-items:flex-end;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: keep-all;
    box-shadow: 0px 0px 0px 10px #00000040;

}

/*ampliacion resultados para una mejor vision */

#valor-act{
    font-size: 3em;
    
}
#valor-ant{
    font-size: 4em;
}
